<h1>Contact Info</h1>
<h2><%= @contact.first_name + " " %><%= @contact.last_name %></h2>
<ul>
<li><%= @contact.email %></li>
<li><%= @contact.phone_number %></li>
</ul><br>

<h2><%= @second_contact.first_name + " " %><%= @second_contact.last_name %></h2>
<ul>
<li><%= @second_contact.email %></li>
<li><%= @second_contact.phone_number %></li>
</ul><br>

<h2><%= @third_contact.first_name + " " %><%= @third_contact.last_name %></h2>
<ul>
<li><%= @third_contact.email %></li>
<li><%= @third_contact.phone_number %></li>
</ul><br>
