<h1>Contact Info</h1>
<a href="/contacts/new"> New Contact </a>
<% @contacts.each do |contact| %>
  <h2><%= contact.first_name + " " %><%= contact.last_name %></h2>
    <ul>
      <li><%= contact.email %></li>
      <li><%= contact.phone_number %></li>
      </ul><br>
<a href="/contacts/<%= contact.id %>">More info</a>
<% end %>






